
trix-editor:empty:not(:focus)::before {
  content: "•" !important;
  /* color: graytext;
  cursor: text; */
}
ul {
  list-style: initial !important;
  margin: 0;
  padding: 0;
}



 nav.right_menu_togle {
  background: rgba(0,0,0,0.9);
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -520px;
  font-size: 15px;
  top: 0;
  width: 100%;
  max-width: 520px;
  z-index: 2000;
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;


}
