
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
body{
font-size:16px;
font-family: 'Roboto', sans-serif;
}
.uniImageTable{
    display:none;
}

.btn-website {
    background-color: #fe8d07;
    padding: 12px 28px;
    color: #fff;
    font-size: 20px;
    width: 100%;
    text-transform: uppercase;
}
.btn-website:hover {
    background-color: #067393;
    color: #fff;
}
section.Form-block {
    height: 100vh;
    display: grid;
    place-items: center;
    /* background: url(../img/login-bg.jpg) no-repeat center; */
    background-size: cover;
}
section.Form-block .logo {
    text-align: center;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.from-start {
    width: 45%;
    box-shadow: 0px 0px 30px #e9adad;
    margin: 0px auto;
    display: table;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
}
select.form-control{
    color: #6c757d;
}
.PhoneInput {
    display: flex;
    align-items: center;
    border: 1px solid #d1d3e2;
    padding: 0.375rem 0.75rem;
    height: calc(1.5em + 0.75rem + 2px);
    border-radius: 0.35rem;
}
.PhoneInput input.PhoneInputInput {
    border: none;
}
.card h5 {
    margin-bottom: 0;
    padding-top: 4px;
}
.btn-view {
    width: 100%;
    display: block;
}
.website-btn {
    background-color: #ff7f0e !important;
    padding: 0 30px !important;
    display: inline-block !important;
    line-height: 45px !important;
    height: 45px !important;
    color: #fff !important;
    border: 1px solid #ff7f0e !important;
}
a.btn.website-btn:hover {
    background-color: transparent !important;
    border: 1px solid #ff7f0e;
    color: #ff7f0e !important;
}
a.btn.outline-website-btn {
    display: inline-block !important;
    padding: 0 30px !important;
    display: inline-block !important;
    line-height: 45px !important;
    height: 45px !important;
    border: 1px solid #ff7f0e !important;
    color: #ff7f0e !important;
    margin-right: 10px !important;
}
a.btn.outline-website-btn:hover {
    background-color: #ff7f0e;
    color: #fff !important;
}

/* responsive */
@media only screen and (max-width: 480px) {
    .from-start {
        width: 100%;
    }
  }
